<div class="jumbotron space">
    <h1 class="display-4">Welcome {{!-- If user put name here --}}!</h1>
    <p class="lead">Share Ideas, Comment On Others, Work Together, Be Inspired!</p>
    <hr class="my-4">
    <h3 class="text-center my-3">Most Upvoted Ideas</h3>
    <div class="row">
        <div class="col-sm">
            <div class="card border-secondary mb-3">
                <div class="card-header">Topic</div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-secondary mb-3">
                <div class="card-header">Topic</div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-secondary mb-3">
                <div class="card-header">Topic</div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <p>Seems Interesting? What Are You Waiting for? Join Now Is Free! <a href="/auth/register">Register</a> Or <a
            href="auth/login">Login</a></p>
</div>

<style>
    .space {
        margin-bottom: 75px;
    }
</style>